<a href="https://colab.research.google.com/github/mrcodean/start-SQL/blob/main/EDA_with_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA CLEANNING WITH NSSO DATASET (RAJASTHAN STATE)

In [ ]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns 

from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/INTERNSHIP/GIRP 23/NSSO68_data.csv')
df

<ipython-input-10-d14c1d474cd4>:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/gdrive/MyDrive/INTERNSHIP/GIRP 23/NSSO68_data.csv')

,Unnamed: 0,grp,Round_Centre,FSU_number,Round,Schedule_Number,Sample,Sector,state,State_Region,...,pickle_v,sauce_jam_v,Othrprocessed_v,Beveragestotal_v,foodtotal_v,foodtotal_q,state_1,Region,fruits_df_tt_v,fv_tot
0,1,40999999999999992652495293775872.0,1,41000,68,10,1,2,24,242,...,0.0,0.0,0.0,0.000000,1141.492400,30.942394,GUJ,2,12.000000,154.180000
1,2,40999999999999992652495293775872.0,1,41000,68,10,1,2,24,242,...,0.0,0.0,0.0,17.500000,1244.553500,29.286153,GUJ,2,333.000000,484.950000
2,3,40999999999999992652495293775872.0,1,41000,68,10,1,2,24,242,...,0.0,0.0,0.0,0.000000,1050.315400,31.527046,GUJ,2,35.000000,214.840000
3,4,40999999999999992652495293775872.0,1,41000,68,10,1,2,24,242,...,0.0,0.0,0.0,33.333333,1142.591667,27.834607,GUJ,2,168.333333,302.300000
4,5,40999999999999992652495293775872.0,1,41000,68,10,1,2,24,242,...,0.0,0.0,0.0,75.000000,945.249500,27.600713,GUJ,2,15.000000,148.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101657,101658,79999999999999997087170359721984.0,1,79998,68,10,1,1,1,12,...,0.0,0.0,0.0,0.000000,544.013667,28.441750,J$K,2,0.000000,25.833333
101658,101659,79999999999999997087170359721984.0,1,79998,68,10,1,1,1,12,...,0.0,0.0,0.0,8.000000,417.616600,25.490282,J$K,2,0.000000,49.000000
101659,101660,79999999999999997087170359721984.0,1,79998,68,10,1,1,1,12,...,0.0,0.0,0.0,7.142857,378.300429,25.800107,J$K,2,0.000000,32.285714
101660,101661,79999999999999997087170359721984.0,1,79998,68,10,1,1,1,12,...,0.0,0.0,0.0,14.000000,510.023600,30.220170,J$K,2,0.000000,39.200000
101661,101662,79999999999999997087170359721984.0,1,79998,68,10,1,1,1,12,...,0.0,0.0,0.0,8.571429,424.589714,26.157279,J$K,2,0.000000,39.714286

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101662 entries, 0 to 101661
Columns: 384 entries, Unnamed: 0 to fv_tot
dtypes: float64(306), int64(76), object(2)
memory usage: 297.8+ MB

In [ ]:
dfrj = df[df['state_1']== 'RJ']

dfrj

,Unnamed: 0,grp,Round_Centre,FSU_number,Round,Schedule_Number,Sample,Sector,state,State_Region,...,pickle_v,sauce_jam_v,Othrprocessed_v,Beveragestotal_v,foodtotal_v,foodtotal_q,state_1,Region,fruits_df_tt_v,fv_tot
32036,32037,47499999999999994892807680557056.0,1,47471,68,10,1,2,8,82,...,0.0,0.0,0.0,33.333333,1085.577667,31.673632,RJ,2,146.666667,268.886667
32037,32038,47499999999999994892807680557056.0,1,47471,68,10,1,2,8,82,...,0.0,0.0,0.0,27.142857,767.527429,23.378053,RJ,2,33.642857,93.385714
32038,32039,47499999999999994892807680557056.0,1,47471,68,10,1,2,8,82,...,0.0,0.0,0.0,10.000000,543.326000,25.175390,RJ,2,20.000000,137.800000
32039,32040,47499999999999994892807680557056.0,1,47471,68,10,1,2,8,82,...,0.0,0.0,0.0,0.000000,561.333000,20.182280,RJ,2,8.900000,68.892000
32040,32041,47499999999999994892807680557056.0,1,47471,68,10,1,2,8,82,...,0.0,0.0,0.0,10.000000,875.252000,27.671691,RJ,2,36.071429,95.957143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93017,93018,77699999999999997125878215606272.0,1,77699,68,10,1,1,8,82,...,0.0,0.0,0.0,0.000000,697.032500,33.425325,RJ,2,20.000000,70.000000
93018,93019,77699999999999997125878215606272.0,1,77699,68,10,1,1,8,82,...,0.0,0.0,0.0,0.000000,611.062667,29.483623,RJ,2,13.333333,42.030000
93019,93020,77699999999999997125878215606272.0,1,77699,68,10,1,1,8,82,...,0.0,0.0,0.0,0.000000,521.285000,24.362762,RJ,2,0.000000,20.000000
93020,93021,77699999999999997125878215606272.0,1,77699,68,10,1,1,8,82,...,0.0,0.0,0.0,0.000000,428.537500,20.962775,RJ,2,0.000000,31.250000
93021,93022,77699999999999997125878215606272.0,1,77699,68,10,1,1,8,82,...,0.0,0.0,0.0,8.333333,498.380000,23.783667,RJ,2,0.000000,28.333333

In [ ]:
dfrj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4128 entries, 32036 to 93021
Columns: 384 entries, Unnamed: 0 to fv_tot
dtypes: float64(306), int64(76), object(2)
memory usage: 12.1+ MB

In [ ]:
dfrj.isnull().sum()

Unnamed: 0        0
grp               0
Round_Centre      0
FSU_number        0
Round             0
                 ..
foodtotal_q       0
state_1           0
Region            0
fruits_df_tt_v    0
fv_tot            0
Length: 384, dtype: int64

In [ ]:
dfrj.dtypes

Unnamed: 0          int64
grp                object
Round_Centre        int64
FSU_number          int64
Round               int64
                   ...
foodtotal_q       float64
state_1            object
Region              int64
fruits_df_tt_v    float64
fv_tot            float64
Length: 384, dtype: object